{% extends 'AppWebBundle::layout.html.twig' %}

{% block body %}
<div class="body widget">
    <form action="#" method="post">
        {{ form_widget(form) }}
        <input type="submit" value="Send" class="button"/>
    </form>
</div>
{% endblock %}
