{% extends 'AppWebBundle::layout.html.twig' %}

{% block body %}
<div class="body widget">
    <form action="#" method="post">
        <fieldset>
            {{ form_widget(form) }}
            <div class="submit"><input type="submit" value="Envoyer" class="button"/></div>
        </fieldset>
    </form>
</div>
{% endblock %}
