{% extends 'AppWebBundle::layout.html.twig' %}

{% block body %}
<div class="body widget">
        <form action="#" method="post"}}>
                <fieldset>
                        <legend>Edit post</legend>
                        {{ form_widget(form) }}
                        
                        {{ form_rest(form) }}
                        <div class="input submit">
                                <input type="submit" value="Send" class="button" />
                        </div>
                </fieldset>
        </form>
</div>
{% endblock %}
