<footer class="footer">
    {% for category in categories %}
        <nav>
                <p>{{ category.name }}</p>
                <ul>
                    {% for subcategory in category.subCategories %}
                        <li>
                                <a href="{{ path('_subcategory', {'slug': subcategory.name, 'category_id': subcategory.id}) }}">
                                     {{ subcategory.name }}
                                </a>
                        </li>
                    {% endfor %}
                </ul>
        </nav>
    {% endfor %}
    <div class="copyright">Réalisé par: LOUARDI Abdeltif</div>
</footer>
