<header class="header">
    <nav>
            <ul class="header-menu">
                    <li class="active"><a href="{{ path("_home") }}">{{ "Home"|trans }}</a></li>
                    {% for category in categories %}
                    <li>
                        <a href="{{ path('_category', {'category_id': category.id, 'slug': category.name}) }}">
                            {{ category.name }}
                        </a>
                    </li>
                    {% endfor %}
                    <li class="header-menu-right"><a href="#">Connexion</a></li>
            </ul>
    </nav>
</header>