<div class="navigation widget">
        <nav>
            {# Helper navigation #}
            {% for item in navigation %}
                <a href="{{ item.url }}">{{ item.label }}</a> &raquo;
            {% endfor %}
        </nav>		
</div>
