 {{ paginator_render(posts)|raw }}

{#
<div class="pagination">
        <nav>
                <a href="">&laquo;</a> 
                <a href="" class="active">1</a> 
                <a href="">2</a> <a href="">3</a> 
                <a href="">&raquo;</a>
        </nav>
</div>
#}