html, body
{
    background-color: #EFEFEF;
}

body
{
    font-size:        14px;
    font-family:      "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    color:            #313131;
    width: 1000px;
    margin: auto;
}

a
{
    color:           #08C;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

strong
{
    font-weight: bold;
}

em
{
    font-style: italic;
}

h1, h2, h3
{
    font-family:    Georgia, "Times New Roman", Times, serif;
    color:          #404040;
}

h1
{
    font-size:      45px;
    padding-bottom: 30px;
}

h2
{
    font-weight:   bold;
    color:         #FFFFFF;
    /* Font is duplicated of body (sans-serif) */
    font-family:      "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;

    margin-bottom:    10px;
    background-color: #aacd4e;
    padding:          2px 4px;
    display:          inline-block;
    text-transform:   uppercase;

}

p
{
    line-height:    20px;
    padding-bottom: 20px;
}

ul a
{
    background: url(../images/blue-arrow.png) no-repeat right 6px;
    padding-right: 10px;
}

ul, ol
{
    padding-left: 20px;
}

li
{
    padding-bottom: 18px;
}

ol li
{
    list-style-type: decimal;
}

ul li
{
    list-style-type: none;
}

table {
    width: 100%;
    border-color: #888;
}

th {
    font-weight: bold;
}

td, th {
    padding: 5px;
    border-color: #888;
}

.button-grey,
.button-green
{
    font-size: 0.85em;
    font-weight: bold;

    cursor: pointer;

    display: inline-block;
    outline: none;

    text-align:     center;
    text-transform: uppercase;

    padding: 3px 10px;

    text-shadow: 0 1px 1px rgba(0,0,0,.3);

    -webkit-border-radius: 4px;
    -moz-border-radius:    4px;
    border-radius:         4px;
}

.button-grey
{
    color:       #868686;
    font-weight: normal;

    padding:    5px 10px;
    border:     solid 1px #d7d7d7;
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d7d7d7));
    background: -moz-linear-gradient(top,  #ffffff,  #d7d7d7);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d7d7d7');
}

.button-green
{
    padding: 5px 12px;

    color: white;

    border:     solid 1px #a7da39;
    background: #a7da39;
    background: -webkit-gradient(linear, left top, left bottom, from(#a7da39), to(#6a9211));
    background: -moz-linear-gradient(top,  #a7da39,  #6a9211);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7da39', endColorstr='#6a9211');
}

.button-new {
    margin-bottom: 10px;
    text-align: right;
}

/*  */
.widget {
    padding: 10px;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    
    -webkit-border-radius: 3px;
    -moz-border-radius:    3px;
    border-radius:         3px;    
    
    -moz-box-shadow: 2px 2px 5px #888;
    -webkit-box-shadow: 2px 2px 5px #888;
    box-shadow: 2px 2px 5px #888;    
}

.post-item {
    margin-bottom: 15px;
}

.header {
    margin-bottom: 10px;
}

.content {
    margin-bottom: 10px;
}

ul.menu, ul.menu li {
    padding: 0px;
    margin: 0px;
}

ul.menu li {
    display: inline;
}

ul.menu li.menu-right {
    float: right;
}