<div class="widget">
    <header>
        <h3>Ads</h3>
    </header>
    <div>
            {{ vars.clientId }}
            {{ vars.height }}
            {{ vars.width }}
            {{ vars.colors }}
        </div>
    </div>
