<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Test Application{% endblock %}</title>

        <link href="{{ asset('bundles/appcore/css/common.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bundles/appweb/css/web.css') }}" rel="stylesheet" type="text/css" />        
    </head>
    <body>
        <div id="sidebar">
            <form action="{{ path('_home') }}">
                <input type="text" name="q" />
                <input type="submit" value={{ "Rechercher"|trans }} />
            </form>
        </div>

        <div id="content">
            {% block body %}{% endblock %}
        </div>
        
        
    </body>
</html>