body {
	width: 1000px;
	background-color: #333;
	margin: auto;
}

/**
 *  * 	Header	 
 *   * 	 **/
.header {
	background: #2b2b2b; /* for non-css3 browsers */
	background: -moz-linear-gradient(top,  #323232,  #1b1b1b); /* for firefox 3.6+ */ 
}

ul.header-menu {
}

ul.header-menu li {
	line-height: 50px;
	padding: 20px;
	
	letter-spacing: 1px;
	display: inline;
    	font-weight: bold;
	
	vertical-align: middle;
	text-align: center;
}

ul.header-menu li.active {
	background: #BB0000;
}

ul.header-menu li.header-menu-right {
	float: right;
	padding: 0 20px;
}


ul.header-menu li.active a:HOVER {
	color: #fff;
}

/**
 *  * 	Footer
 *   * 	 **/
.footer {
	padding: 10px;
	background: #2b2b2b; /* for non-css3 browsers */
	background: -moz-linear-gradient(top,  #323232,  #1b1b1b); /* for firefox 3.6+ */ 	

	overflow: auto;
}

.footer nav {
	width: 150px;
	float: left;
}

.footer nav p {
	color: #fff;
	font-weight: bold;
	letter-spacing: 1px;
	margin-bottom: 2px;
}

.footer nav ul li {
	padding-left: 13px;
}

.footer nav li {
	background: url(arrow-right.png) no-repeat -2px;
	
}

.footer .copyright {
	clear: both;
	position: relative;
	padding: 15px 0px;
	color: #999;
}

/**
 *  * 	Line
 *   * 	**/
.line {
	background-color: #BB0000;
	height: 4px;
}

/**
 *  * 	Content
 *   * 	 **/
.content-wrapper {
	padding: 10px;
	background-color: #fff;
	width: 980px;
	overflow: auto;
}

.sidebar {
    float: right;
    width: 220px;
}

.menu li {
	padding-left: 14px;
	background: url(arrow-right.png) no-repeat -2px;
}

.menu li a {
    color: #333;
}

.tag a {
    color: #999;
}

.widget {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    -moz-box-shadow: 0px 0px 2px #999;
    -webkit-box-shadow: 0px 0px 2px #999;
    box-shadow: 0px 0px px #999;
    -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
}

.widget h3 {
    font-weight: bold;
    color: #cc0000;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 0 0px #000;
}

.widget ul {
    margin: 9px;
}

.navigation {
        padding: 10px;
	width: 718px;
	float: left;
}

.navigation ul li {
	display: inline;
}

.navigation a {
	color: #BB0000;
}

.pagination {
	width: 740px;
	float: left;
}

.pagination a, .pagination span.current {
    padding: 1px 5px;
    color: #bb0000;
    border: 1px solid #ccc;
    -moz-box-shadow: 0px 0px 2px #999;
    -webkit-box-shadow: 0px 0px 2px #999;
    box-shadow: 0px 0px px #999;
    -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;
}

.pagination span.current {
	background-color: #bb0000;
	color: #fff;
}

.content {
	width: 740px;
	float: left;
}

.content article h1 {
  	color: #BB0000;
  	text-shadow: 0 0 0px #000;	
	text-transform: uppercase;
}

.content article {
	overflow: auto;
}

.content article div {
	margin-top: 10px;
}

.content article footer {
	color: #999;
	margin-top: 10px;
}

.content p.date {
	padding: 15px 0;
	width: 200px;
	float: left;
}

.content p.author {
	padding: 15px 0;
	width: 160px;
	float: left;
}

.content p.post-comments {
	padding: 15px 0;
	width: 160px;
	float: left;
}

.content p.actions {
	width: 160px;
	float: right;
	text-align: right;
	margin-top: 10px;
}

.login {
	width: 718px;
	float: left;
}

.comments {
	width: 720px;
	float: left;
}

.comments h3 {
	color: #bb0000;
}

.comment-items {
        background-color: #eee;
        overflow: auto;
}

.comment-items, .comment-items p {
        margin: 10px 0;
        padding: 5px;
}

.comment-items p.author, .comment-items p.date {
        float: left;
        margin-right: 50px;
}

.comments .input label {
	display: block;
}

.comments .input textarea {
        width: 50%;
        height: 100px;
}

.comments .submit {
        margin-top: 10px;
}

